/* Font */

* {
    font-family: "Poppins", sans-serif;
}

/* Nav bar */

.nav-item.active .nav-link {
    background-color: #f4c531;
    color: #333;
}

/* Background Image */

body {
    /* Background image styling assisted by Stack Overflow (https: //stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image) and Medium (https: //medium.com/@miguelznunez/how-to-easily-add-an-image-overlay-to-your-images-with-css-e354a79f530d)*/
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/pepper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding-bottom: 45px;
}

/* Home page text and CTA button */

.about {
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    font-size: 20px;
    color: #fafafa;
    margin: 70px;
    text-align: center;
        }

/* Search box */

.container {
    font-size: 16px;
    padding: 3em 2.8em;
    width: 90vw;
    max-width: 40vw;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
}

.search-container {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.search-container input {
    font-size: 1em;
    padding: 0.6em;
    border: none;
    outline: none;
    border-bottom: 2px solid #202030;
}

.search-container button {
    font-size: 1em;
    background-color: #f4c531;
    border: none;
    font-weight: 600;
    border-radius: 0.3em;
}

/* Recipe cards */

.recipe-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.recipe-card {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.recipe-image {
    max-width: 100%;
    height: auto;
}

.recipe-info {
    margin-top: 10px;
}

.recipe-card a {
    text-decoration: underline;
    color: #333;
}

.recipe-card a:hover {
    color: #0066cc;
    text-decoration: underline; 
}

/* Error messages */

.error-message {
    color: red;
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Footer */

footer {
    background-color: #008000;
    max-height: 45px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
}

footer h5 {
    text-transform: uppercase;
}

footer a {
    text-transform: lowercase;
    color: #fafafa;
    font-size: 16px;
}

footer a:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

footer a i:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.social-links {
    padding-bottom: 15px;
    margin-top: 10px;
    float: right;
}

.social-links li a i {

    width: 32px;
    height: 32px;
    margin-bottom: 100px;
    font-size: 30px;
    float: right;
}

@media screen and (max-width: 768px) {
.recipe-card a {
        text-decoration: underline;
        color: #0066cc;
    }
} 